doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title 411730301_徐靖涵的期末作業
        link(rel="stylesheet", href="index.css")
    body 
        .box
            .box1 
                h4 淡江大學教育科技學系TKUET
            .box2 
                h4 歡迎你加入!
            .box3 
                h4 數位課程
            .box4 
                h4 人資課程
            .box5
                h4 程式設計
        .person
            .eyes 
                .Leye
                .Leyeball
                .Reye
                .Reyeball 
            .nose 
            .mouth
        
        .youtubeDisplay
            iframe(width="100%" height="100%" src="https://www.youtube.com/embed/zM0zwUTT9lU?si=SrLyyJFp6n-0AlJj" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen)
            .person3 
                .eyes 
                    .Leye
                    .Leyeball
                    .Reye 
                    .Reyeball
                .nose 
                .mouth
        .imageDisplay 
            img(class="img1" src="images.jpeg" width="100%" height="100%" alt="Grapefruit slice atop a pile of other slices")
        .h5pDisplay 
            iframe(src="https://h5p.org/h5p/embed/1072182" width="939" height="590" frameborder="0" allowfullscreen="allowfullscreen" allow="geolocation *; microphone *; camera *; midi *; encrypted-media *" title="Interactive Video")
            script(src="https://h5p.org/sites/all/modules/h5p/library/js/h5p-resizer.js" charset="UTF-8") 
        .person1 
            .eyes 
                .Leye
                .Leyeball
                .Reye 
                .Reyeball
            .nose 
            .mouth
           
        .person2 
            .eyes 
                .Leye
                .Leyeball
                .Reye 
                .Reyeball
            .nose 
            .mouth
            
        
